// @import 'name of file',__e, --m
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
*{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
#main-body{
  padding: 15px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-color: #006699;
  color: white;
  height: 100vh;
  &-title{
    margin-bottom: 15px;
  }
}
